# ignore .idea files
.idea
.git
.ipynb_checkpoints

# ignore folders
LogFiles/
logs/


# ignore python cache
__pycache__/


# ingone data files
*.bz2
*.hdf
*.L2_RR_OC
*.nc
*.png
*.h5
*.rst
*.pptx

conf.py
debugger*
make.bat
Makefile

        